# .coveragerc file to control code coverage
[run]

# Measures all possible branch jumps
branch = True

# Setup the package folder
source  = plr
include = */plr/*

# Avoid some folders and files to be included in the coverage
omit =
    */plr/_build_utils/*
    */plr/base.py
    */setup.py
