# .coveragerc file to control code coverage
[run]

# Measures all possible branch jumps
branch = True

# Setup the plr directory
source = plr

# Execute the coverage in parallel
parallel = True

# Directories and files to ignore in the coverage
omit =
    */plr/_build_utils/*
    **/setup.py
