# .coveragerc file to control code coverage
[run]

# Measures all possible branch jumps
branch = True

# Setup the sklr source directory
source = sklr

# Execute the coverage in parallel
parallel = True

# Ignore the following directories and files from the
# coverage because they are not needed to be tested
omit =
    */sklr/_build_utils/*
    **/setup.py
    setup.py
