# Byte-compiled files
*.so
__pycache__/

# Source files
*.cpp
!/**/src/**/*.cpp

# Distribution and packaging
MANIFEST
build/
dist/
*.egg-info/

# Unit tests and coverage reports
.coverage
.coverage.*
coverage/
.pytest_cache/

# Static type checker
.mypy_cache/

# Sphinx documentation
docs/_build/
docs/source/api_reference/generated/

# Project settings
*.code-workspace
.devcontainer/
.vscode/
.vscode-server/

# General files
.DS_Store
