# Byte-compiled files
__pycache__/

# C++ extensions
*.so
*.cpp
!/**/src/**/*.cpp

# Distribution and packaging
build/
dist/
*.egg-info/
MANIFEST

# Unit test and coverage reports
.coverage
.coverage.*
coverage/
.pytest_cache/

# Sphinx documentation
docs/_build/
docs/source/api_reference/generated/

# Project settings
.devcontainer/
.vscode/
.vscode-server/
*.code-workspace

# General files
.DS_Store
