recursive-include docs *
recursive-include sklr *.cpp *.h *.pyx *.pxd
recursive-include sklr/datasets *.csv

include COPYING
include Makefile
include MANIFEST.in
include pyproject.toml
include README.md

recursive-exclude .github *
recursive-exclude docker *

exclude .gitignore
exclude .mailmap
exclude codecov.yml
exclude lgtm.yml
